/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: 'Poppins', sans-serif !important;
    --line-height: 1.5;
    --color: #504B4B;
}

/* Apply global font family */
html {
    font-family: var(--font-family) !important;
    margin: 0;
    padding: 0;
    background: #F4F7FC;
}

html, h1, h2, h3, h4, h5, p, a {
    font-family: var(--font-family) !important;
}

body {
    min-height: 100vh;
}

/* Heading Styles */
h1 {
    font-weight: bold;
    line-height: 150%;
    color: #000;
}

h2 {
    font-weight: 600; /* Semibold */
    line-height: 150%;
}

h3 {
    font-weight: 600; /* Semibold */
    line-height: 150%;
}

h4 {
    font-weight: 600; /* Semibold */
    line-height: 150%;
}

h5 {
    font-size: 32px;
    font-weight: 600; /* Semibold */
    line-height: 150%;
}

h6 {
    font-size: 24px;
    font-weight: 600; /* Semibold */
    line-height: 150%;
}

/* Body Text */
body, p {
    font-size: 16px;
    font-weight: 400; /* Regular */
    line-height: 150%;
    color: #504B4B;
}

/* Subtext */
.sub-text {
    font-size: 14px;
    font-weight: 400; /* Regular */
    line-height: 150%;
}

/* Utility Classes */
.text-bold {
    font-weight: 700; /* Bold */
}

.text-semibold {
    font-weight: 600; /* Semibold */
}

.text-regular {
    font-weight: 400; /* Regular */
}
